.legend-item {
  margin-right: 20px;
}

.user-title {
  font-size: 1.5em;
  font-weight: 300;
}

.user-admin-border {
  border-left: 7px solid $warning-color;
}

.you-admin-border {
  border-left: 7px solid $danger-color;
}

.user-normal-border {
  border-left: 7px solid #337ab7;
}

.custom-file-upload input {
  display:none;
}

.profile-empty-image {
  width: 50px;
  height: 50px;
  color: white;
  background-color: #EA5C41;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.profile-edit-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  width: 96px;
  height: 96px;
  border: 1px solid #737373;
  border-radius: 3px;
  margin: 6px 0 0;
  background-color: #EA5C41;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: absolute;
}

.profile-edit-image img {
  width: 100%;
}

.profile-edit-image-content {
  margin-left: 120px;
}
