<% content_for :page_title do %>
  <div class="small-header">
      <div class="hpanel">
          <div class="panel-body">
              <div id="hbreadcrumb" class="pull-right">
                  <ol class="hbreadcrumb breadcrumb">
                      <li><%= link_to "Dashboard", root_path %></li>
                      <li>
                          <span>Users</span>
                      </li>
                      <li class="active">
                          <span>Profile</span>
                      </li>
                  </ol>
              </div>
              <h2 class="font-light m-b-xs">
                  Profile
              </h2>
              <small>Your personal information</small>
          </div>
      </div>
  </div>
<% end %>
