# Environment configuration file
# ===============================
# Place all your custom keys, database configuration, an any extra environment
# configuration into this file.
#
# This example configuration assume you are working on Cloud9 site so
# everything is setup for it. Change it according to your dev configuration.

development:
    host: localhost
    database: t3_development
    database_username: root
    database_password: admin
    smtp_domain: localhost
    smtp_username: <%= ENV['SMTP_USERNAME'] %>
    smtp_password: <%= ENV['SMTP_PASSWORD'] %>
    s3_bucket_name: <% ENV['S3_BUCKET_NAME'] %>
    aws_access_key_id: <% ENV['S3_BUCKET_NAME'] %>
    aws_secret_access_key: <% ENV['S3_BUCKET_NAME'] %>
    aws_region: <% ENV['S3_BUCKET_NAME'] %>
test:
    host: localhost
    database: t3_test
    database_username: root
    database_password: admin
    smtp_domain: localhost
    smtp_username: <%= ENV['SMTP_USERNAME'] %>
    smtp_password: <%= ENV['SMTP_PASSWORD'] %>
    s3_bucket_name: <% ENV['S3_BUCKET_NAME'] %>
    aws_access_key_id: <% ENV['S3_BUCKET_NAME'] %>
    aws_secret_access_key: <% ENV['S3_BUCKET_NAME'] %>
    aws_region: <% ENV['S3_BUCKET_NAME'] %>
production:
    host: <%= ENV["HOST"] %>
    database: <%= ENV["SECRET_KEY_BASE"] %>
    database_username: <%= ENV["SECRET_KEY_BASE"] %>
    database_password: <%= ENV["SECRET_KEY_BASE"] %>
    smtp_domain: <%= ENV["SMTP_DOMAIN"] %>
    smtp_username: <%= ENV['SMTP_USERNAME'] %>
    smtp_password: <%= ENV['SMTP_PASSWORD'] %>
    s3_bucket_name: <% ENV['S3_BUCKET_NAME'] %>
    aws_access_key_id: <% ENV['S3_BUCKET_NAME'] %>
    aws_secret_access_key: <% ENV['S3_BUCKET_NAME'] %>
    aws_region: <% ENV['S3_BUCKET_NAME'] %>    
