# Environment configuration file
# ===============================
# Place all your custom keys, database configuration, an any extra environment
# configuration into this file.
#
# This example configuration assume you are working on Cloud9 site so
# everything is setup for it. Change it according to your dev configuration.

development:
    admin_name: First User
    admin_email: user@example.com
    admin_password: changeme
    domain_name: example.com
    host: localhost
    database: example_development
    database_username: root
    database_password: admin
test:
    admin_name: First User
    admin_email: user@example.com
    admin_password: changeme
    domain_name: example.com
    host: localhost
    database: example_test
    database_username: root
    database_password: admin
production:
    admin_name: <%= ENV["ADMIN_NAME"] %>
    admin_email: <%= ENV["ADMIN_EMAIL"] %>
    admin_password: <%= ENV["ADMIN_PASSWORD"] %>
    domain_name: <%= ENV["DOMAIN_NAME"] %>
    host: <%= ENV["HOST"] %>
    database: <%= ENV["SECRET_KEY_BASE"] %>
    database_username: <%= ENV["SECRET_KEY_BASE"] %>
    database_password: <%= ENV["SECRET_KEY_BASE"] %>
