<div id="header">
  <div class="color-line">
  </div>
  <div id="logo" class="light-version">
    <span>
      T3 Control Panel
    </span>
  </div>
  <nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
      <span class="text-primary">T3 Control Panel</span>
    </div>
    <div class="mobile-menu">
      <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="" href="login.html">Login</a>
          </li>
          <li>
            <a class="" href="login.html">Logout</a>
          </li>
          <li>
            <a class="" href="profile.html">Profile</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="pe-7s-speaker"></i>
          </a>
          <ul class="dropdown-menu hdropdown notification animated flipInX">
            <li>
              <a>
                <span class="label label-success">NEW</span> It is a long established.
              </a>
            </li>
            <li>
              <a>
                <span class="label label-warning">WAR</span> There are many variations.
              </a>
            </li>
            <li>
              <a>
                <span class="label label-danger">ERR</span> Contrary to popular belief.
              </a>
            </li>
            <li class="summary"><a href="#">See all notifications</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="pe-7s-upload pe-rotate-90"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
