<aside id="menu">
  <div id="navigation">
    <div class="profile-picture">
      <a href="index.html">
        <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
      </a>

      <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase">
          <%= current_user.name %>
        </span>

        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <small class="text-muted"><%= current_user.role.capitalize %> <b class="caret"></b></small>
          </a>
          <ul class="dropdown-menu animated flipInX m-t-xs">
            <li><a href="profile.html">Profile</a></li>
            <li class="divider"></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="nav" id="side-menu">
      <li class="active">
        <a href="index.html">
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#"><span class="nav-label">Users</span><span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" aria-expanded="false">
          <li><%= link_to "All Users",users_path %></a></li>
          <li><%= link_to "Add new",new_user_path %></li>
          <li><a href="buttons.html">Your profile</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
